**/.env

# ui node packages
**/node_modules/
**/package-lock.json
**/yarn.lock

# backend python venv
**/include/
**/Lib/
**/Scripts/
**/__pycache__/
**/share/
**/.hypothesis/
**/myenv/
**/venv/
**/.ipynb_checkpoints/
**/document.md